body{
    font-family: 'Roboto Condensed', sans-serif !important;
    font-weight: 300 !important;
    color: #67757c !important;
    background-color:#ffffff!important;
}

.wrapper-padding{
padding: 1% 1% 1% 1% ;
}
.table-img{
	width:60px;
	height:auto;
}

.loading-icon{
	width:100px;
	height:auto;
}

.form-control:focus {
  border-color: #FF0000;
  box-shadow: none;
}

.count-card-text{
	font-size: 14px;
}
.count-card-title{
	font-size: 24px;
}

.center-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.imgPreview{
    border: none;
    width: 100%;
    object-fit: cover;
    height: 320px;
}

.imgOnRow{
    border: none !important;
    width: 100%;
    object-fit: cover;
    height: 200px;
}

#toastrS {

    background-color:#ccf1db !important;
	color: #155724 !important;
    border-color: #c3e6cb !important;
	margin:5px auto!important;
	padding:20px 10px !important;
	text-align:center;

}
#toastrFa {

    background-color: #f8d7da !important;
	color: #721c24 !important;
    border-color: #f5c6cb !important;
	margin:5px auto!important;
	padding:20px 10px !important;
	text-align:center;

}

